@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
      display: none;
  }

  .no-scrollbar {
      -ms-overflow-style: none;
      scrollbar-width: none;
  }
}

html {
  @apply bg-gradient-to-br from-gray-900 to-gray-800 text-white min-h-screen;
}

.one-line-text{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}